.App {
  text-align: center;
}

.videoTag {
  position: fixed;
  left: -150px;
  top: -150px;
  min-width: 100%;
  min-height: 100%;
}

#link {
  text-decoration: none;
  color: #db3545;
}

#navlink{
  text-decoration: none;
  color: white;
}

#contact{
  text-decoration: none;
  color: black;
}

#navlink:hover{
  text-decoration-line: underline;
}

#navbarScrollingDropdown {
  color: white;
}
